<!DOCTYPE html>
<html>
  <head>
    <title>Toggle Runner</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="styles.css" />
    <script crossorigin="anonymous" src="https://unpkg.com/launchdarkly-js-client-sdk"></script>
    <script src="toggle-runner.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <script src="dark-mode.js"></script>
  </head>

  <body>
    <header>
      <h1>
        Toggle Runner
      </h1>
      <small>by LaunchDarkly</small>
    </header>

    <div class="interstitial-wrapper"></div>

    <div id="resources">
      <img
        id="resources-1x"
        src="images/100-percent/100-sprite<%= flags['space-mode'] ? '-space' : '' %>.png"
      />
      <img
        id="resources-2x"
        src="images/200-percent/200-sprite<%= flags['space-mode'] ? '-space' : '' %>.png"
      />
      <div id="audio-resources">
        <audio id="sound-press" src="sounds/button-press.mp3"></audio>
        <audio id="sound-hit" src="sounds/hit.mp3"></audio>
        <audio
          id="sound-reached"
          src="sounds/score-reached.mp3"
        ></audio>
      </div>
    </div>
    <script src="app.js"></script>
  </body>
</html>
